<li><a href="{% url 'index' %}" class="{% if request.resolver_match.url_name == 'index' %}
                        active
                      {% endif %}">
                домой</a></li>
<li><a href="{% url 'products:products' %}" class="{% if 'products' in request.resolver_match.url_name %}
                        active
                      {% endif %}">
                продукты</a></li>
<li><a href="{% url 'contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}
                        active
                      {% endif %}">
                контакты</a></li>