{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
<div class="user_delete">
    {% if object.is_active %}
    Уверены, что хотите удалить пользователя {{ object.get_full_name }} ?
    {% else %}
    Уверены, что хотите восстановить пользователя {{ object.get_full_name }} ?
    {% endif %}
    <form action="{% url 'adminapp:user_delete' object.pk %}" method="post">
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="уверен">
    </form>
    <button class="btn btn-success">
        <a href="{% url 'adminapp:user_list' %}">
            Отмена
        </a>
    </button>
</div>
{% endblock %}